<div class="container">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#/dashboard">Home</a></li>
            <li class="active">Workers</li>
            <li class="active">Index</li>
        </ol>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-2">
                    <h5>Workers Index &nbsp;&nbsp;<span class="glyphicon glyphicon-refresh" role="button"></span></h5>
                </div>
                <div class="col-md-3 col-md-offset-7">
                    <div class="input-group input-group-sm">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <input type="text" class="form-control" ng-change="searching()" ng-model="search">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="clearSearch()">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th ng-click="order('first_name')">
                        <span class="glyphicon" ng-show="predicate === 'first_name'" ng-class="{'glyphicon-chevron-down':reverse, 'glyphicon-chevron-up':(!reverse)}"></span>
                        First Name
                    </th>
                    <th ng-click="order('last_name')">
                        <span class="glyphicon" ng-show="predicate === 'last_name'" ng-class="{'glyphicon-chevron-down':reverse, 'glyphicon-chevron-up':(!reverse)}"></span>
                        Last Name
                    </th>
                    <th ng-click="order('father_name')">
                        <span class="glyphicon" ng-show="predicate === 'father_name'" ng-class="{'glyphicon-chevron-down':reverse, 'glyphicon-chevron-up':(!reverse)}"></span>
                        Father's Name
                    </th>
                    <th ng-click="order('phone')">
                        <span class="glyphicon" ng-show="predicate === 'phone'" ng-class="{'glyphicon-chevron-down':reverse, 'glyphicon-chevron-up':(!reverse)}"></span>
                        Phone
                    </th>
                    <th ng-click="order('mobile_phone')">
                        <span class="glyphicon" ng-show="predicate === 'mobile_phone'" ng-class="{'glyphicon-chevron-down':reverse, 'glyphicon-chevron-up':(!reverse)}"></span>
                        Cell Phone
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
                </thead>
                <tr ng-repeat="worker in workers | orderBy: predicate : reverse | limitTo: itemsPerPage : begin | filter: search">
                    <td>{{worker.first_name}}</td>
                    <td>{{worker.last_name}}</td>
                    <td>{{worker.father_name}}</td>
                    <td>{{worker.phone}}</td>
                    <td>{{worker.mobile_phone}}</td>
                    <td>
                        <button type="button" class="btn btn-default" aria-label="Edit Worker" ng-click="editWorker(worker)" data-toggle="modal" data-target="#editWorker">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default" aria-label="Delete Worker" data-toggle="modal" data-target="#confirmWorkerDeletion">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-8">
                        <button type="button" class="btn btn-primary" ng-click="editWorker()" data-toggle="modal" data-target="#editWorker" aria-label="Add Worker"><span class="glyphicon glyphicon-plus-sign"></span> Add New Worker</button>
                        <button type="button" class="btn btn-default" ng-click="exportWorkers()" aria-label="Export Workers"><span class="glyphicon glyphicon-save-file"></span> Export List</button>
                        <button type="button" class="btn btn-default" ng-click="exportWorkers()" aria-label="Export Workers"><span class="glyphicon glyphicon-copy"></span> Import...</button>
                    <!--Showing {{itemsPerPage}} workers per page-->
                </div>
                <div class="col-md-4" ng-show="showPagination">
                    <uib-pagination
                            total-items="workers.length"
                            ng-model="currentPage"
                            max-size="maxSize"
                            class="pagination-sm pull-right"
                            boundary-links="boundaryLinks"
                            force-ellipses="forceEclipses"
                            rotate="rotate"
                            num-pages="numPages"
                            previous-text="&lsaquo;"
                            next-text="&rsaquo;"
                            first-text="&laquo;"
                            last-text="&raquo;"
                            ng-click="setPage(currentPage)">
                    </uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit Worker Modal -->
<div class="modal fade" id="editWorker" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" ng-show="entry">Update: {{entry.first_name}} {{entry.last_name}}</h4>
                <h4 class="modal-title" ng-show="!entry">Create a New Member</h4>
            </div>
            <div class="modal-body">
                <form>
                <uib-tabset>
                    <uib-tab heading="Personal Details">
                            <div class="form-group">
                                <label for="workerFirstName">First Name</label>
                                <input ng-model="entry.first_name" ng-required="true" type="text" class="form-control" id="workerFirstName" placeholder="Enter first name">
                            </div>
                            <div class="form-group">
                                <label for="workerLastName">Last Name</label>
                                <input ng-model="entry.last_name" type="text" class="form-control" id="workerLastName" placeholder="Enter last name">
                            </div>
                            <div class="form-group">
                                <label for="workerBirthDate">Birth Date</label>
                                <input ng-model="entry.birth_date" type="date" class="form-control" id="workerBirthDate" placeholder="Enter birth date">
                            </div>
                            <div class="form-group">
                                <label for="workerIdNumber">ID Number</label>
                                <input ng-model="entry.id_card" type="date" class="form-control" id="workerIdNumber" placeholder="Enter you ID card number">
                            </div>
                            <div class="form-group">
                                <label for="workerInsuranceNumber">Insurance Number</label>
                                <input ng-model="entry.insurance_number" type="text" class="form-control" id="workerInsuranceNumber" placeholder="Enter you insurance number">
                            </div>
                    </uib-tab>
                    <uib-tab heading="Union Details">
                        <div class="form-group">
                            <label for="workerRegistrationNumber">Registration Number</label>
                            <input ng-model="entry.registration_number" ng-required="true" type="text" class="form-control" id="workerRegistrationNumber" placeholder="Enter first name">
                            <small class="text-muted">Registration number must be unique for all members</small>
                        </div>
                        <div class="form-group">
                            <label for="workerRegisteredAt">Registration Date</label>
                            <input ng-model="entry.registered_at" type="date" class="form-control" id="workerRegisteredAt" placeholder="Enter registration to the union date">
                        </div>
                    </uib-tab>
                    <uib-tab heading="Contact Info">
                        <div class="form-group">
                            <label for="workerPhone">Phone</label>
                            <input ng-model="entry.phone" ng-required="true" type="text" class="form-control" id="workerPhone" placeholder="Enter phone">
                        </div>
                        <div class="form-group">
                            <label for="workerMobilePhone">Mobile Phone</label>
                            <input ng-model="entry.mobile_phone" ng-required="true" type="text" class="form-control" id="workerMobilePhone" placeholder="Enter cell phone">
                        </div>
                    </uib-tab>
                    <uib-tab heading="Work Position"></uib-tab>
                </uib-tabset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateWorker(entry)">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Confirm Worker Deletion Modal -->
<div class="modal fade" id="confirmWorkerDeletion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="confirmLabel">Confirm Deletion</h4>
            </div>
            <div class="modal-body">
                Delete worker {{entry.first_name}} {{entry.last_name}}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deleteWorker(worker.id)">Delete</button>
            </div>
        </div>
    </div>
</div>